.sessao2 {
    padding: 80px 2% 0 2%;
    text-align: center;
    z-index: 2;
    position: relative;
}

.sessao2 h2 {
    color: #472663;
    font-weight: lighter;
    padding-bottom: 20px;
}

.sessao2 p {
    color: #472663;
    max-width: 900px;
    display: inline-block;
    padding-bottom: 40px
}

.sessao2 img {
    width: 100%;
    max-width: 1000px;
    z-index: 2;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}