.videos {
    position: absolute;
    margin-left: 270px;
    margin-top: 150px;
}

.shorts {
    display: flex;
    margin: 20px 0px;
}

.shorts h2 {
    color: white;
    font-size: 25px;
    margin-left: 20px;
}

.shorts img {
    width: 25px;
}

.capsula {
    display: grid;
    gap: 20px 0px;
    grid-template-columns: repeat(4, 1fr);
}

.video-block {
    position: relative;
    max-width: 300px;
    margin-right: 100px;
}

.video-block a img {
    width: 382px;
    height: 186px;
    object-fit: cover;
    margin: 10px 0;
    border-radius: 10px;
}

.video-block h3 {
    color: white;
}

.video-block p {
    color: #ccc;
    margin: 5px 0;
    cursor: pointer;
}

.video-block p:hover {
    color: #e2e2e2;
    margin: 5px 0;
}

.video-block p:nth-of-type(1):hover {
    color: white;
    font-weight: 500;
}

.video-block a::before {
    content: attr(data-duration);
    position: absolute;
    right: -77px;
    bottom: 91px;
    color: white;
    background-color: rgba(0, 0, 0, .89);
    padding: 2px 3px;
    border-radius: 4px;
}