.sessao1 {
    width: 100%;
    background-color: #472562;
    padding: 0px 2%;
}

.sessao1 .container {
    max-width: 800px;
}

/* Again my teacher using float, but I dont want use this*/

.text-sessao1 ul li {
    list-style-position: inside;
    padding: 5px;
}

.wraper-sessao1 {
    display: flex;
    justify-content: space-between;
}

.text-sessao1 {
    text-align: left;
    color: white;
}

.text-sessao1 p {
    font-size: 16px;
    margin-top: 20px;
}

.btn1-text {
    width: 200px;
    height: 44px;
    cursor: pointer;
    color: white;
    background-color: orange;
    border: 1px solid black;
    border-radius: 20px;
    padding: 8px 0;
    text-align: center;
    line-height: 44px;
    font-size: 16px;
    margin: 40px 0px;
}

.device-sessao1 {
    width: 50%;
    height: 500px;
    background-image: url('../img/device.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
}