.veiculos-destaques {
    padding: 90px 2%;
}

/*car*/

.veiculos-destaques .container {
    max-width: 1280px;
    display: flex;
    padding: 90px 0;
}

.vitrine-destaque {
    width: 33.3%;
}

.vitrine-destaque:nth-of-type(1) .carro-img {
    background-image: url('../img/carro1.jpg');
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    display: inline-block;
    border: 8px solid white;
}

.vitrine-destaque:nth-of-type(2) .carro-img {
    background-image: url('../img/image.png');
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    display: inline-block;
    border: 8px solid white;
}

.vitrine-destaque:nth-of-type(3) .carro-img {
    background-image: url('../img/image\ copy.png');
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    display: inline-block;
    border: 8px solid white;
}

.vitrine-destaque:nth-of-type(4) .carro-img {
    background-image: url('../img/image\ copy\ 2.png');
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    display: inline-block;
    border: 8px solid white;
}

.vitrine-destaque:nth-of-type(5) .carro-img {
    background-image: url('../img/image\ copy\ 3.png');
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    display: inline-block;
    border: 8px solid white;
}

.vitrine-destaque:nth-of-type(6) .carro-img {
    background-image: url('../img/image\ copy\ 4.png');
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    display: inline-block;
    border: 8px solid white;
}

.vitrine-destaque:nth-of-type(7) .carro-img {
    background-image: url('../img/carro1.jpg');
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    display: inline-block;
    border: 8px solid white;
}

.vitrine-destaque:nth-of-type(8) .carro-img {
    background-image: url('../img/image.png');
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    display: inline-block;
    border: 8px solid white;
}

.vitrine-destaque:nth-of-type(9) .carro-img {
    background-image: url('../img/image\ copy.png');
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    display: inline-block;
    border: 8px solid white;
}

.info-carro h2 {
    padding-left: 8px;
    font-style: italic;
    font-size: 20px;
}

.info-carro p {
    font-size: 14px;
    padding-left: 8px;
    color: #353535;
    font-style: italic;
}

.info-carro a {
    display: block;
    text-decoration: none;
    margin-left: 8px;
    margin-top: 20px;
    width: 150px;
    height: 50px;
}

/*end car*/

@media screen and (max-width: 768px) {
    .line-titulo h2 {
        font-size: 23px;
    }

    .ln1 {
        background-color: black;
        height: 2px;
        width: 100%;
        position: absolute;
        top: calc(23px - 2px);
    }

    .veiculos-destaques .container {
        max-width: 1000px;
        padding: 40px 0;
        display: block;
        text-align: center;
    }
    
    .vitrine-destaque {
        display: inline-block;
        width: 80%;
        margin-top: 20px;
    }
    
    .info-carro a {
        display: inline-block;
    }
}

@media screen and (max-width: 568px) {
    .line-titulo h2 {
        font-size: 18px;
    }

    .ln1 {
        background-color: black;
        height: 2px;
        width: 100%;
        position: absolute;
        top: calc(18px - 2px);
    }

    .vitrine-destaque {
        width: 100%;
    }

}