/* reset css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* end reset css */

/* header */

header {
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav li {
    display: inline-block;
    padding: 2rem;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.5rem;
}
/* end header */