section.videos {
    padding: 50px 0;
}

section.videos .container {
    display: flex;
}

.box-videos {
    position: relative;
    width: 33.3%;
    padding-top: calc(33.3% * 0.6);
    /* background-color: aqua; */
    border: 5px solid white;
}

.box-videos iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px){
    section.videos {
        padding: 25px 0;
    }

    section.videos .container {
        flex-direction: column;
        align-items: center;
    }

    .box-videos {
        width: 70%;
        padding-top: calc(70% * 0.6);
        /* border: 5px solid white; */
    }
}

@media screen and (max-width: 580px){
    .box-videos {
        width: 100%;
        padding-top: calc(100% * 0.6);
        /* border: 5px solid white; */
    }
}