.mosaico-wraper {
    display: flex;
    flex-direction: column;
}

.mosaico-single {
    display: flex;
    width: 100%;
}

.mosaico-single img {
    width: calc(100% / 6);
    height: calc(100% / 6);
    background-color: #ccc;
    border: 5px solid white;
    background-size: contain;
    background-repeat: no-repeat;
}